/* Default Font Size is 16 px */

html {
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/gutter_main_background_reduced.png");
  background-repeat: no-repeat;
  background-position: right top;
  margin-top: 2.5%;
}

a {
  text-decoration: none;
}

body {
  width: 80%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.brand_name {
  color: #1f90cd;
  text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

.LG_icon {
  background: #1f90cd;
  border-radius: 7px;
  border: 0.2rem solid #1f90cd;
  color: white;
  font-weight: 600;
  opacity: 0.7;
  filter: drop-shadow(10px 4px 4px rgba(0, 0, 0, 0.25));
  font-style: normal;
  margin-right: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

li a {
  align-items: center;
  color: #9acb7b;
  margin: 0 10px;
}

li a:hover {
  color: #3e8e0b;
}

.call_away {
  font-weight: 900;
  letter-spacing: 0.05rem;
  color: #1f90cd;
  width: 30%;
  margin-top: 5%;
}

.no_more {
  color: #93c772;
  font-weight: 400;
  width: 30%;
  margin-top: 2%;
}

.body_text {
  color: #93c772;
  font-weight: 400;
  width: 70%;
  margin-top: 7%;
}

h3 {
  color: black;
  font-weight: 400;
}

.cta_button {
  background: #1f90cd;
  border-radius: 7px;
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
  width: 200px;
  left: 215px;
  top: 407px;
  padding: 12px 0;
  margin-top: 2%;
}

footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  margin-top: 40px;
}
